---
import MyProyects from "../components/MyProyects.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="PORFORIO | JOSUE MAMANI AGREDA">  
  <div class="text-5xl font-bold text-center min-h-[40vh] w-full flex flex-col justify-center items-center bg-sky-950 rounded-br-full rounded-bl-full py-10 gap-10 shadow-xl shadow-sky-500">
    <span id="welcome_text">BIENVENIDO A MI PORTAFOLIO</span>
    <div class="max-w-[1000px] w-[90%] m-auto font-bold my-7 text-2xl flex justify-center items-center gap-7">
      <div class="bg-gray-500 w-[200px] h-[200px] rounded-full"></div>
      <h1 id="title" class="text-4xl text-center text-white"></h1>
    </div>
  </div>
  <MyProyects />
  <h2>Mis conocimientos</h2>
  <h2>Sobre mi</h2>
</Layout>
<style>
   #welcome_text{
    background: linear-gradient(to right, #ffffff , #ffffff );
    background-clip: text;
		color: transparent;
  }
</style>
<script>
  const title=document.getElementById('title')
  const abcd='|- abcdefghijklmnopqrstu '
  const cad='JOSUE-MARTIN-MAMANI-AGREDA'
  for (let i = 0; i < cad.length; i++) {
    const caracter = cad[i];
    
    for (let j = 0; j < abcd.length; j++) {
      const element = abcd[j];
      if(element.toUpperCase()===caracter){
        title.innerText+=caracter
        break
      }
    }
  }
</script>
