---
import MyProyects from "../components/MyProyects.astro";
import Layout from "../layouts/Layout.astro";
import LogosLenguage from "../components/LogosLenguage.astro";
---
<Layout title="PORFORIO | JOSUE MAMANI AGREDA">  
  <div class="entry text-3xl md:text-5xl font-bold text-center min-h-[30vh] md:min-h-[40vh] w-full flex flex-col justify-center items-center bg-sky-950 rounded-br-full rounded-bl-full py-10 md:gap-10 shadow-xl shadow-sky-500">
    <span id="welcome_text" class="w-[90%]">WELCOME TO MY PORTFOLIO</span>
    <div class="max-w-screen-xl w-[90%] m-auto font-bold my-7 text-2xl flex justify-center items-center md:gap-7">
      <img class="bg-gray-500 w-[140px] h-[140px] md:w-[200px] md:h-[200px] rounded-full object-cover" src="fotoperfil.jpg"/>
      <div class="text-white">
        <h1 id="title" class="text-lg md:text-4xl text-center md:min-w-[500px]"></h1>
        <span class="text-lg">Web Developer</span>
      </div>
    </div>
    
    <div class="flex justify-center gap-4 md:gap-7 md:justify-center items-center flex-wrap w-[60%]">
      <img src="/icons/brand-astro.svg" alt="" class="icon"><img src="/icons/brand-react.svg" alt="" class="icon"><img src="/icons/brand-tailwind.svg" alt="" class="icon"><img src="/icons/brand-bootstrap.svg" alt="" class="icon"><img src="/icons/brand-html5.svg" alt="" class="icon">
      <img class="icon" src="/icons/brand-javascript.svg" alt="">
      <img src="/icons/file-type-css.svg" alt="" class="icon">
    </div>
  </div>
  <div class="flex items-center flex-wrap gap-3 md:gap-0 max-w-screen-xl w-[80%] m-auto mt-14 text-xl">
    <p class="w-full md:w-[calc(100%-500px)] opacity-40 paragraph duration-500">
      Front-end developer with over a year of experience creating innovative and optimized web solutions. Passionate about technology and self-taught by nature, I seek to contribute to the growth of companies by combining exceptional web performance, accessible design, and modern methodologies.
    </p>
    <img class="comp duration-300 translate-x-32 opacity-50" width="500px" src="present.png" alt="">
  </div>
  <MyProyects />
  <div class="max-w-screen-xl w-[90%] m-auto flex flex-col items-center mt-16">
    <p class="py-7 text-xl paragraph opacity-40 duration-500">
      Throughout this year working as a freelance developer, I specialized in HTML, CSS, and JavaScript, laying the foundations for web development. Later, I incorporated Tailwind CSS into my workflow, which allowed me to reduce development time by up to 60%. Motivated by this breakthrough, I decided to learn and work with Astro.js, a tool that, like Tailwind, increased my efficiency by facilitating the construction of front-end interfaces in an agile and orderly manner. Later, I delved deeper into React, where I gained experience with tools such as useState, useEffect, useContext, and React Router, developing SSR applications. This learning allowed me to create two outstanding projects. Finally, I took the step towards Next.js, taking advantage of everything I learned in React to work on more robust and scalable projects.
    </p>
    <h2>My Skills</h2>
    <LogosLenguage />
  </div>
  <div class="max-w-screen-xl w-[90%] m-auto flex flex-col items-center my-16">
    <h2>About Me</h2>
    <div class="flex items-center flex-wrap gap-3 md:gap-0 max-w-screen-xl w-[80%] m-auto text-xl">
      <p class=" opacity-40 duration-500 paragraph">
        I am a web developer with a year of experience creating innovative and optimized web solutions. Passionate about technology and self-taught by nature, I seek to contribute to the growth of companies by combining exceptional web performance, accessible design, and modern methodologies.
      </p>
    </div>
  </div>
</Layout>
<style>
   #welcome_text{
    background: linear-gradient(to right, #ffffff 30%, #ffffff );
    background-clip: text;
		color: transparent;
  }
  .entry{
    animation: 1.7s entry_animaition ease-out;
  }
  .icon{
    width: 30px;
  }
  @media (min-width: 768px) {
    .icon{
    width: 40px;
  }
}
  @keyframes entry_animaition {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(0);
    }
  }
</style>
<script>
  const paragraph=document.querySelectorAll('.paragraph')
  const comp=document.querySelector('.comp')
  let options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  };
  function Paragraph(a, b) {
    a.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("opacity-40");
        entry.target.classList.add("animate");
      } else {
        entry.target.classList.add("opacity-40");
        entry.target.classList.remove("animate");
      }
    });
  }
  function Opacity(a, b) {
    a.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("translate-x-32");
        entry.target.classList.remove("opacity-50");
      }
    });
  }
  const observerP = new IntersectionObserver(Paragraph, options);
  const observerO = new IntersectionObserver(Opacity, options);
  observerO.observe(comp)
  
  paragraph.forEach((parag) => {
    observerP.observe(parag);
  });
</script>