<a class="rounded-full bg-violet-700 px-5 py-2 uppercase fixed right-5 bottom-3 text-white shadow-xl hover:scale-110 hover:shadow-2xl duration-200 " href="JosueMamani.pdf" download="JosueMamani.pdf" target="_blank">
    Download CV
</a>