<div class="flex gap-10 items-center flex-wrap w-[70%] max-w-screen-lg justify-around font-bold uppercase mt-5">
    <div class="lenguage">
        <img src="/logos/html.png" alt="">
        avanzado
    </div>
    <div class="lenguage">
        <img src="/logos/css.png" alt="">
        intermedio
    </div>
    <div class="lenguage">
        <img src="/logos/js.png" alt="">
        intermedio
    </div>
    <div class="lenguage">
        <img src="/logos/astro.svg" alt="">
        avanzado
    </div>
    <div class="lenguage">
        <img src="/logos/react.png" alt="">
        intermedio
    </div>
    <div class="lenguage">
        <img src="/logos/nextjs.svg" alt="">
        basico
    </div>
    <div class="lenguage">
        <img src="/logos/tailwind.png" alt="">
        avanzado
    </div>
</div>
<style>
    img{
        width: 80px;
    }
    .lenguage{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    @media (max-width: 768px) {
        img{
            width: 50px;
        }
        .lenguage{
            gap: 5px;
            flex-direction: column;
        }
    }
</style>