---
import Proyects from "./Proyects.astro";
---

<div class="max-w-[2000px] w-[90%] m-auto flex flex-col items-center">
    <h2 class="w-full my-10">My proyects</h2>
    <div class="overflow-y-auto w-[90%]">
      <Proyects/>
    </div>
    <a class="bg-gray-300 p-2 w-[40%] shadow-xl rounded-2xl font-bold text-center text-[17px] hover:bg-gray-800 hover:shadow-lg hover:text-blue-100 duration-200 ease-linear border-[2px] mt-10" href="">View more</a>
  </div>
  <style>
    @keyframes bgAnimate {
        0%{
            border-color: #08fc00;
        }
        50%{
            border-color: rgb(88, 105, 255);
        }
        100%{
            border-color: #08fc00;
        }
    }
  </style>
  <script>
    const opacity=document.querySelectorAll('.opacity-20')

    let options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  };

  function Opacity(a, b) {
    a.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("opacity-20");
      }
    });
  }

 const observerO = new IntersectionObserver(Opacity, options);
 opacity.forEach(container=>{
  observerO.observe(container)
 })
  </script>