---
import Proyects from "./Proyects.astro";
---

<h2 class="max-w-[1000px] w-[90%] m-auto mt-10 mb-5">My proyects</h2>
  <div class="max-w-[1500px] w-[90%] m-auto flex flex-col items-center">
    <Proyects/>
    <a class="p-2 w-[40%] rounded-2xl bg-white font-bold text-center text-[17px] hover:bg-gray-200 hover:shadow-lg hover:scale-[1.03] duration-200 ease-linear border-[2px] mt-10" href="">View more</a>
  </div>
  <style>
    a{
        animation: infinite 2s bgAnimate;
    }
    @keyframes bgAnimate {
        0%{
            border-color: #7cb8fc;
        }
        50%{
            border-color: rgb(88, 105, 255);
        }
        100%{
            border-color: #7cb8fc;
        }
    }
  </style>