---
import Proyect from "./Proyect.astro";
---
<div class="flex flex-wrap justify-center items-center gap-10">
    <Proyect 
      image="synergo.png"
      name="SynergoEd"
      href="https://synergoed.com/"
      github="https://github.com/JRWebDesigner/SynergoED.git"
    >
    </Proyect>
    <Proyect 
      image="colquiri.png"
      name="G.A.M de Colquiri"
      href="https://gamcolquiri.gob.bo/"
      github="https://github.com/JRWebDesigner/MunicipioColquiri.git"
    >
    </Proyect>
    <Proyect 
      image="agrofast.png"
      name="Agrofast S.R.L"
      href="https://agrofastsrl.com/"
      github="https://github.com/JRWebDesigner/Agrofast.git"
    >
    </Proyect>
    <Proyect 
      image="rosefimport.png"
      name="Rosef Importaciones"
      href="https://rosef-importaciones.vercel.app/"
      github="https://github.com/JRWebDesigner/rosef-imports.git"
    >
    </Proyect>
  </div>