---
import Proyect from "./Proyect.astro";
---
<div class="flex flex-wrap justify-around items-center gap-4">
    <Proyect 
      image="synergo.png"
      name="synergoed"
      href="https://synergoed.com/"
      github="https://github.com/JRWebDesigner/SynergoED.git"
    >
    </Proyect>
    <Proyect 
      image="colquiri.png"
      name="colquiri"
      href="https://gamcolquiri.gob.bo/"
      github="https://github.com/JRWebDesigner/MunicipioColquiri.git"
    >
    </Proyect>
    <Proyect 
      image="agrofast.png"
      name="agrofast"
      href="https://agrofastsrl.com/"
      github="https://github.com/JRWebDesigner/Agrofast.git"
    >
    </Proyect>
    <Proyect 
      image="rosefimport.png"
      name="rosefimport"
      href="https://rosef-importaciones.vercel.app/"
      github="https://github.com/JRWebDesigner/rosef-imports.git"
    >
    </Proyect>
  </div>