---
const { image, name, href, github} = Astro.props;
---
<div class="flex flex-col gap-5 p-2 bg-gray-900 rounded-xl justify-center items-center shadow-blue-600 shadow-lg hover:scale-[1.05] duration-150 ease-out">
  <img
    width="400"
    height="400"
    src=`portadas/${image}`
    alt={name}
  />
  <div class="flex flex-col gap-4 opacity-90 text-white text-2xl">
    {name}
  </div>
</div>
