---
import Cv from '../components/Cv.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#fff]">
		<main class="min-h-screen">
			<slot />
		</main>
		<Cv />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Square';
		src: url('/fonts/Square.otf');
	}
	*{
		font-family: 'Square';
	}
	h2{
		/*0c0c0c  margin-bottom: 3rem; 
		line-height: 2.25rem; 
		color: rgba(255,255,255,1);
		text-decoration: normal;
		text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 20px rgb(21 128 61) , 0 0 50px rgb(21 128 61) , 0 0 60px rgb(21 128 61) , 0 0 80px rgb(21 128 61) ; */
		font-size: 2rem;
		width: 100%;
		font-weight: 700; 
		color: black;
	}
	@media (max-width: 768px) {
    h2{
		font-size: 2rem;
	}
}
</style>
